{% extends 'base_auth.html.twig' %}
{% block title %}{{ 'profile.title'|trans }} - Nimbus{% endblock %}
{% block page_header_slot %}
    {{ include('components/page_header.html.twig', {title: 'profile.title'|trans}) }}
{% endblock %}
{% block body %}
<div {{ vue_component('ProfileApp', {
    userName: app.user.name,
    userEmail: app.user.email,
    locale: app.request.locale,
    updatePath: path('profile_update'),
    passwordPath: path('profile_password'),
    deletePath: path('profile_delete'),
    localePath: path('app_locale_switch'),
    deleteCsrf: csrf_token('delete_account'),
    loginPath: path('app_login'),
}) }} class="flex-1"></div>
{% endblock %}
