APP_ENV=prod
APP_SECRET=change_me_with_strong_secret
APP_DEBUG=false

# Database (Production)
DATABASE_URL="postgresql://nimbus:your_password@127.0.0.1:5432/nimbus?serverVersion=16&charset=utf8"

# Messenger (doctrine transport)
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

# Mail - Resend (https://resend.com)
MAILER_DSN=resend+api://YOUR_RESEND_API_KEY@default
MAILER_FROM_ADDRESS=noreply@nimbus.example.com
MAILER_FROM_NAME=Nimbus
