###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

# Node
/node_modules/
/pnpm-lock.yaml

# Vite build
/public/build/

# PHP CS Fixer
.php-cs-fixer.cache

# Twig CS Fixer
.twig-cs-fixer.cache

# Tools vendors
/tools/*/vendor/
/tools/*/composer.lock

# TUS uploads tmp
/var/uploads/

# IDE
/.idea/
/.vscode/
