{% extends 'base_guest.html.twig' %}

{% block title %}{{ 'auth.register.title'|trans }} - Nimbus{% endblock %}

{% block hero %}
    {% if registrationEnabled %}
        {{ include('components/auth_hero.html.twig') }}
    {% endif %}
{% endblock %}

{% block content %}
    <div {{ vue_component('RegisterApp', {
        registerPath: path('app_register'),
        loginPath: path('app_login'),
        registrationEnabled: registrationEnabled,
        initialErrors: errors,
        values: {name: values.name ?? '', email: values.email ?? ''},
    }) }}></div>
{% endblock %}
