{% extends 'base_auth.html.twig' %}

{% block title %}{{ 'plan.title'|trans }} - Nimbus{% endblock %}

{% block page_header_slot %}
    {{ include('components/page_header.html.twig', {title: 'plan.title'|trans}) }}
{% endblock %}

{% block body %}
    <div {{ vue_component('PlanApp', {
        isPro: isPro,
        trialEndsAt: trialEndsAt ?? null,
        proPrice: proPrice,
        freeMaxSizeMb: freeMaxSizeMb,
        freeMaxFiles: freeMaxFiles,
        freeMaxExpiryHours: freeMaxExpiryHours,
        proMaxSizeMb: proMaxSizeMb,
        proMaxFiles: proMaxFiles,
        proMaxExpiryDays: proMaxExpiryDays,
        upgradePath: upgradePath,
        downgradePath: downgradePath,
        csrfToken: csrf_token('plan_action'),
    }) }}></div>
{% endblock %}
