<header class="bg-surface border-b border-base h-16 flex items-center lg:sticky lg:top-0 lg:z-20 shrink-0">
    <div class="px-4 sm:px-6 lg:px-8 w-full">
        <h2 class="text-xl font-semibold leading-tight text-primary">{{ title }}</h2>
    </div>
</header>
